@import "tailwindcss";
@plugin "daisyui" {
  themes:
    lemonade --default,
    abyss --prefersdark;
}
@source "../../../packages/shared/src";

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
