@import "tailwindcss";
@plugin "daisyui" {
  themes:
    nord --default,
    night --prefersdark;
}
@source "../../../packages/shared/src";

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
